body {
	background-color: #505050;
	padding: 0;
	margin: 0;
}
#wrapper > div {
	background-color: #8f8f8f;
	border-radius: 10px;
	box-shadow: 10px 10px 8px;
}
#header {
	margin-top: 18px;
	width: 1420px;
	height: 137px;
}

#dotf {
	width: 424px;
	margin: 10px 11px;
	vertical-align: top;
}

#mag {
	width: 257px;
}

#mag, .header-icon {
	position: relative;
	left: 683px;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
	margin-right:  -4px;
}

.header-icon img {
	padding: 0px;
	width: 20px;
	display: block;
}

.header-icon a:last-of-type {
	display: block;
	margin-top: 78px;
}

#wrapper {
	width: 1420px;
	height: 1000px;
	margin: auto;
}

.side_panel {
	display: inline-block;
	width: 140px;
	height: 425px;
	margin-left: 30px;
	margin-right: 26px;
	margin-top: 20px;
	vertical-align: top;
}

#left_panel {
	clear: both;
	margin-left: 30px;
	margin-right: 26px;
}

#right_panel {
	margin-left: 26px;
	margin-right: 26px;
}

#big_pic {
	display: inline-block;
	width: 1020px;
	height: 582px;
	margin-top:	20px;
	vertical-align: top;
}

#big_pic img {
	width: 1000px;
	height:  561px;
	margin-top: 10px;
	margin-left: 10px;
}

#left_panel img {
	width: 70px;
}

#left_panel img:nth-child(1) {
	margin-top: 13px;
	margin-left: 30px;
}

#left_panel img:nth-child(2) {
	margin-top: 13px;
	margin-left: 30px;
}

#left_panel img:nth-child(3) {
	border: 5px solid red;
	border-radius: 3px;
	margin-top: 4px;
	margin-left: 27px;
}

#left_panel img:nth-child(4) {
	margin-top: 4px;
	margin-left: 31px;
}

#left_panel img:nth-child(5) {
	margin-top: 11px;
	margin-left: 31px;
}


#right_panel img:nth-child(1) {
	width: 70px;
	margin-top: 15px;
	margin-left: 35px;
}

#right_panel img:nth-child(2) {
	width: 68px;
	margin-top: 10px;
	margin-left: 36px;
}

#brick_container {
	width: 120px;
	height: 71px;
	margin: auto;
	margin-top: 7px;
	background-image: url("resources/brick.jpg");
}

#green-box {
	position: absolute;
	left: 193px;
	top: 681px;
	width: 500px;
	height: 170px;
	padding: 0px 10px;
	border-radius: 10px;
	font-family: "verdana", sans-serif;
	border-radius: 10px;
	background-color: lightgreen;
	box-shadow: 10px 10px 8px;
}

#green-box p {
	margin: 8px 0 0 0;
}

input	{
	width: 382px;
	margin: 0 4px 0 2px;
	border-left: 3px solid gray;
	border-top: 3px solid gray;
	border-right: 3px solid gainsboro;
	border-bottom: 3px solid gainsboro;
	height: 19px;
}

button	{
	width: 77px;
	height: 20px;
	border: 1px solid gray;
	margin-top: 4px;
	border-radius: 1px;
	background-color: gainsboro;
	font-size: 13px;
}

#green-1 {
	font-size: 2em;
	font-family: "georgia", sans-serif;
	letter-spacing: 1.35px;
}

#green-2 {
	text-shadow: 4px 4px 8px red;
}

#green-3 {
	font-style: italic;
	font-size: 0.974em;
}

#test {
	display: block;
	overflow: hidden;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0.31;
}